<div
  class="grid grid-cols-24 grid-flow-row gap-y-0 gap-x-1 p-0 m-0 mt-1 bg-white border border-gray-300 rounded-md"
>
  <div class="col-span-24 pl-1">
    <h1 class="animation_right_slide text-red-700">Altyazı Gönderenler</h1>
  </div>
  <div class="col-span-24 pl-1 p-0 m-0">
    <div class="grid grid-flow-col auto-cols-max gap-x-2">
      <div
    id="test12"
    *ngFor="let date of date_periods; index as index"
    class="text-gray-800 text-center p-0 m-0 pl-1 overflow-hidden"
  >
    <a
      (click)="change_date_period_active($event); get_film_subtitles($event)"
      [ngClass]="{ date_period_active2: index == 0 }"
      (mouseenter)="date_period_hover_add($event)"
      (mouseleave)="date_period_hover_remove($event)"
      [id]="'date_period_c_' + index"
      class="cursor-pointer text-xs m-0 py-1 px-2 bg-gray-100 border border-gray-200 rounded-tl-md rounded-tr-md"
      >{{ date.name | titlecase }}</a
    >
  </div>
    </div>
  </div>
  <div
    [ngClass]="{ 'border-t border-gray-300': index == 0 }"
    *ngFor="let subtitle of film_subtitles; index as index"
    class="col-span-24 pl-1 flex items-center"
  >
    <i class="fa-solid fa-caret-right text-blue-400 text-xs"></i
    ><span>&nbsp;</span
    ><a class="text-xs xl:text-sm text-blue-600 hover:underline" href="#">{{
      subtitle.name
    }}</a
    ><em class="text-gray-500 text-xs xl:text-sm"
      ><span>&nbsp;</span><span>(</span>{{ subtitle.repeat | number
      }}<span>)</span></em
    >
  </div>
</div>
