.date_period_hover2{
  color:white;
  background-color:orange;
  border-color:orange;
}
.date_period_active2{
  background-color:rgba(37, 99, 235, 1);
  color:white;
  border-color:rgba(37, 99, 235, 1);
}
