<div class="grid grid-cols-24 grid-flow-row gap-0">
<div class="col-span-24 p-1">
  <app-homepage-carousel></app-homepage-carousel>
</div>
<div class="col-span-24 p-1">
  <app-homepage-new-released></app-homepage-new-released>
</div>
<div class="col-span-24 p-1">
<app-homepage-last-released-film-frame></app-homepage-last-released-film-frame>
</div>
<div class="col-span-24 p-1">
<app-homepage-film-analysis></app-homepage-film-analysis>
</div>
<div class="col-span-24 p-1">
<app-homepage-new-released-artist></app-homepage-new-released-artist>
</div>
</div>
