<div class="grid grid-cols-12 grid-flow-row gap-0 animation_right_slide">
  <div class="hidden lg:block lg:col-span-4 xl:col-span-6"></div>
  <div class="col-span-12 lg:col-span-8 xl:col-span-6 flex justify-around">
    <a class="bg-white rounded-full px-2 icons" href="#"><i class="fa-brands fa-facebook-f"></i></a>
<a class="bg-white rounded-full px-1 icons" href="#"><i class="fa-brands fa-twitter"></i></a>
<a class="bg-white rounded-full px-1 icons" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
  </div>
</div>
